<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1" style="background-color: blue;">
        <tr>
            <td>title</td>
            <td>donate</td>
            <td>target</td>
            <td>reports count</td>
        </tr>
            {%for j in project_id%}
              <tr>
                <td>{{j.title}}</td>
                <td>{{ sumlist[j.id] }}</td>
                <td>{{j.target}}</td>
                <td>{{j.repor_count}}</td>
              </tr>
            {%endfor%}
    </table>
    <table border="1" style="background-color: blue;">
        <tr>
            <td>title</td>
            <td>user_id</td>
            <td>donate</td>
        </tr>
        {%for p in project_id%}
            <tr>
                <td>{{project_id.title}}</td>
                {%for d in donation_id%}
                    {%if project_id.id == donation_id.id%}
                        <td>{{donation_id.user_id}}</td>
                        <td>{{donation_id.donate}}</td>
            </tr>
    </table>
    <!-- {%for p in p%}
        {{p.id}}
            {%for d in d%}
                {%if p.id == d.id%}
                    {{d.user_id}}
                    {{d.donate_amount}}
                {%endif%}
            {%endfor%}
        {{p.title}}
        {{p.details}}
    {%endfor%} -->
</body>

</html>