{%extends 'parent.html' %}

{%block content%}
<div class="container bg-secondary">
    <h1>this is header</h1>
</div>
<br><br><br>
<div class="container bg-info">
    <h1>this is slider</h1>
</div>
<br><br><br><br>

<div class="container bg-success">
    <h1>Pick Category</h1>
    <a href="{% url 'category' 'help' %}" class="btn btn-primary">help category</a>
    <a href="{% url 'category' 'giveMoney' %}" class="btn btn-primary">giveMoney category</a>
    <a href="{% url 'category' 'MoneyForDesoky' %}" class="btn btn-primary">MoneyForDesoky category</a>
    
</div>

<br><br><br><br>
<div class="container bg-info">
    <h1>the latest projects</h1>
</div>

<br><br><br><br>
<div class="container bg-secondary">
    <h1>this is top 5 project entered by admin</h1>
</div>

{%endblock%}